.footer {
  background-color: $dark-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  text-align: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 76px;
    padding-right: 89px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 94px;
    align-items: baseline;
  }
}

.logo-footer {
  color: $text-dark-theme-color;
  font-family: Raleway;
  font-size: 24px;
  @include textProp(700, 1.17);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
  margin-bottom: 20px;
  display: inline-block;
}
.footer-container-address {
  margin-bottom: 60px;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 69px;
    margin-bottom: 0;
  }
}

.footer-container-invitation {
  margin-bottom: 60px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-bottom: 0;
  }
}

.footer-container-subscription {
  @media screen and (min-width: 768px) {
    padding-left: 27px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 0;
  }
}

.footer-address-map {
  color: $text-dark-theme-color;
  font-style: normal;
  @include textProp(400, 1.71);
}

.footer-address-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-address-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  @include textProp(400, 1.71);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer .footer-invitation {
  color: $text-dark-theme-color;
  @include textProp(700, 1.14);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social-list {
  width: 206px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-social-list-link-item {
  width: 44px;
  height: 44px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

@include insertSocialIcons($socIconList);

.footer-social-list-link-item-svg {
  width: 20px;
  height: 20px;
  fill: $text-dark-theme-color;
}

.footer-subscription {
  @include textProp(700, 1.14);
  font-size: 14px;
  text-transform: uppercase;
  color: $text-dark-theme-color;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.footer-subscription-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.footer-form-email {
  width: 450px;
  height: 50px;
  font-family: Roboto;
  @include textProp(400, 1.25);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  letter-spacing: 0.03em;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-bottom: 20px;
  padding-left: 16px;
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.button-subscription {
  display: inline-flex;
  min-width: 200px;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  border-radius: 4px;
  border: transparent;
  background: $button-color;
  color: $button-text-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @include textProp(700, 1.88);
  font-size: 16px;
  text-align: start;
  letter-spacing: 0.06em;
  &::after {
    content: '';
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url(../images/svg/plane.svg);
  }
}
