$main-font: 'Roboto';
$title-light-theme-color: #212121;
$text-dark-theme-color: #ffffff;
$text-light-them-color: #757575;
$accent-color: #2196f3;
$button-color: #2196f3;
$button-text-color: #ffffff;
$button-filter-color: #f5f4fa;
$button-filter-text-color: #212121;
$primary-white-background-color: #ffffff;
$secondary-white-background-color: #f5f4fa;
$dark-background-color: #2f303a;
$social-links-color: #afb1b8;
